/*
// -- Hacklet --
// @name         Default Blooket Theme
// @version      0.1
// @author       Hacklet
// -- Hacklet -- 
*/

html {
  -webkit-filter:invert(100%) hue-rotate(180deg) contrast(70%) !important; 
  background: #fff;
}

.line-content {
  background-color: #fefefe;
}

html img {
  -webkit-filter:invert(100%) hue-rotate(0deg) contrast(100%) !important;
}
